.product-bottom {
  .information-tilte {
    border-bottom: 1px dotted #333;
    margin-top: 20px;
    .title {
      color: #d74b33;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 30px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      margin-top: 30px;
    }
  }
  .form-inlineng-pristine {
    margin-top: 20px;
    .form-group {
      display: flex;
      align-items: center;
    }
    .control-label {
      text-align: end;
      display: inline-block;
      font-weight: bold;
      margin-right: 10px;
      margin: 0px;
      .warning {
        color: #d74b33;
        padding-left: 10px;
      }
    }
    .btn-primary {
      background: #d74b33;
      &:hover {
        background: #333;
      }
    }
  }
}
