$background: white;
.about-informationsend-contact {
  background: $background !important;
  margin-right: 10px;
  .about-contact-title {
    border-top: 1px solid #eee;
    .title {
      margin-top: 10px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .description {
    margin: 15px 0;
  }
  button {
    display: inline-block;
    padding: 9px 15px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: #333334;
    &:hover {
      background: rgb(215, 75, 51);
    }
  }
  .icon {
    width: 40px;
  }
  .contact-feedback {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
  }
  .google-map {
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
    padding-bottom: 91% !important;
    .google-child {
      position: absolute !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
@media (min-width: 992px) and (max-width: 1236px) {
  .about-informationsend-contact {
    .google-map {
      width: 340px !important;
      height: 359px !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-informationsend-contact {
    margin-right: -5px;
    .google-map {
      width: 695px !important;
      height: 290px !important;

      margin-bottom: 60px;
    }
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .about-informationsend-contact {
    margin-right: -4px;
    .google-map {
      width: 510px !important;
      height: 250px !important;

      margin-bottom: 60px;
    }
  }
}
@media (min-width: 0px) and (max-width: 479px) {
  .about-informationsend-contact {
    margin-right: -3px;
    .google-map {
      width: 410px !important;
      height: 290px !important;

      margin-bottom: 60px;
    }
  }
}
