.menu-login {
  .title {
    color: #aaaaaa;
    &:hover {
      color: #dc3545;
    }
  }
  .icon-link {
    color: #aaaaaa;
  }
  .last-child {
    font-weight: bold;
    color: #d74b33;
    font-size: 14px;
    line-height: 1.42857143;
  }
}
