$edge-boder: rgb(221, 221, 221);
$link-color: black;
$menu-backgroud: rgb(215, 75, 51);
.about-support {
  border: 1px solid $edge-boder;

  .title {
    background-color: #d74b33;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    margin: 0;
    font-family: inherit;
    line-height: 1.1;
  }
  .information-support {
    margin-bottom: 15px;
    text-align: center;
    .ng-binding {
      color: #d74b33;
    }
  }
}
